#buildDiv {
    width: 40%;
    display: inline-block;
}

#testDiv {
    width: 55%;
    display: inline-block;
}

body {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 12px;
}

tr {
    border-bottom: 1px solid #ddd;
}

th, tr:hover {
    background-color: #f1f1f1;
}

h2 {
    text-align: center;
}

form {
    text-align: left;
    background-color: #f1f1f1;
    padding-left: 1%;
    padding-top: 1px;
}

form h2 {
    text-align: left;
}
