[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Project is set of tools used for automating building and testing git repositories using Weles server, generating html or formatted textual reports, low-level communication with Weles, give sequenced access for the Boruta?s boards for remote users, and some other parts of work.
[access "refs/*"]
	owner = group user/Uladzislau (Shadasviar)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Uladzislau (Shadasviar)
	label-Verified = -1..+1 group user/Uladzislau (Shadasviar)
	push = group user/Uladzislau (Shadasviar)
	read = group user/Uladzislau (Shadasviar)
	rebase = group user/Uladzislau (Shadasviar)
	removeReviewer = group user/Uladzislau (Shadasviar)
	submit = group user/Uladzislau (Shadasviar)
[access "refs/heads/*"]
	create = group user/Uladzislau (Shadasviar)
	push = +force group user/Uladzislau (Shadasviar)
	pushMerge = group user/Uladzislau (Shadasviar)
	read = group user/Uladzislau (Shadasviar)
[access "refs/tags/*"]
	push = group user/Uladzislau (Shadasviar)
	push = +force group user/Uladzislau (Shadasviar)
	exclusiveGroupPermissions = createTag label-Verified
